body{
    margin: 0;
}

.fontSize{
    font-size: 2em;
}

.container {
    margin-top: 2em;
    margin-bottom: 2em;
    height: auto;
    font-size: 3.7em;
}

#right-div{
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
}

.login-button{
    background-color: #5596F5;
    color: #fff;
}

.go-to-registration-button{
    color: #f5f5f5 !important;
    margin-right: 2em;
}

#number-of-chosen-products{
    padding: 0;
    font-size: 2vw;
    font-weight: 400;
}

.kundvagn-icon{
    padding: 0 !important;
}

/* Log in site */

.login-main{
    margin: 2em;
    padding: 6em;
}

.avatar-container {
    text-align: center;
    margin: 2em 0 1em 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.login-form {
    border: 3px solid #f5f5f5;
    padding: 1em;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 1em 1em;
    margin: 0.5em 0;
    display: inline-block;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
}

.login-button {
    background-color: #5596F5;
    color: white;
    padding: 14px 20px;
    margin: 1em 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #E64E4E;
    color: #fff;
}

.remember-me{
    margin-bottom: 2em;
}

.login-bottom-container {
    padding: 1em;
    margin: -1em;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn {
       width: 100%;
    }
}

/* Add zoom animation to the register div*/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/* The end of log in site */


@media screen and (min-width: 350px){
    .widthtImg{
        width: 20%;
    }
}

@media screen and (max-width: 350px){
    .widthtImg{
        width: 50%;  
    }
    .cancelbtn {
        width: 100%;
     }
}
