body{
    height: 100%;
}

.container {
    margin-top: 2em;
    margin-bottom: 1em;
    height: auto;
    font-size: 3.7em;
}

.height{
    margin-top: 2em;
    height: 100%;
}

#number-of-chosen-products{
    margin-right: 0.5em;
    font-size: 1.5vw;
    font-weight: 400;
}

@media screen and (min-width: 499px){
    .widthtImg{
        width: 20%;
    }
}

@media screen and (max-width: 499px){
    .widthtImg{
        width: 50%;
    }
}
.fontSize{
    font-size: 2em;
}